@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: none;
}

:root {
  --Strong_cyan: hsl(172, 67%, 45%);
  --Very_dark_cyan: hsl(183, 100%, 15%);
  --Dark_cyan: hsl(182, 100%, 24%);
  --Dark_grayish_cyan: hsl(186, 100%, 13%);
  --Grayish_cyan: hsl(184, 14%, 56%);
  --Light_grayish_cyan: hsl(185, 41%, 84%);
  --Very_light_grayish_cyan: hsl(189, 41%, 97%);
  --White: hsl(0, 0%, 100%);
}

header {
  text-align: center;
  color: var(--Very_dark_cyan);
  font-weight: 600;
  line-height: 1.2rem;
  letter-spacing: 0.4rem;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100svh;
  background: var(--Light_grayish_cyan);
}

.container {
  display: flex;
  margin: 3rem;
  max-width: 55rem;
  border-radius: 0.8rem;
  padding: 1.5rem;
  background: var(--White);
  box-shadow: 0px 5px 50px -23px;
}

.box1,
.box2 {
  min-width: 50%;
  border-radius: 0.8rem;
  padding: 2rem;
}

.box1 span {
  color: var(--Dark_grayish_cyan);
  font-weight: 600;
  font-size: clamp(0.8rem, 0.7vw, 0.6rem);
}
.span-area {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.4rem;
}

.input-border {
  border: 2px solid transparent;
}

.people-fild.error {
  border-color: red;
}

.input-fild {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.4rem 1rem;
  background: var(--Very_light_grayish_cyan);
  border-radius: 0.5rem;
  transition: border-color 0.2s;
  cursor: pointer;
}

.bill-fild {
  margin-bottom: 2rem;
}

input:focus {
  outline: none;
  caret-color: var(--Strong_cyan);
}
.input-border:focus-within {
  border-color: var(--Strong_cyan);
}

.bill-input,
.people-ipt {
  width: 100%;
  font-size: 1.6rem;
  background: transparent;
  border: none;
  text-align: end;
  font-weight: 600;
  color: var(--Very_dark_cyan);
}

.tip-btns {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 2.8rem;
  margin-top: 0.8rem;
}

.tip-btns button,
.tip-btns .custom-ipt {
  width: 6.65rem;
  flex: 1 1 6.65rem;
}

.tip-btns button {
  font-size: 1.65rem;
  font-weight: 500;
  padding: 6px 0;
  border-radius: 0.5rem;
  background: var(--Very_dark_cyan);
  color: var(--White);
  border: none;
  cursor: pointer;
  text-align: center;
  transition: 0.2s;

  &:hover {
    font-weight: 600;
    color: var(--Dark_grayish_cyan);
    background: var(--Strong_cyan);
  }
}

.tip-btns button:focus,
.tip-btns button.selected {
  outline: none;
  color: var(--White);
  background: var(--Strong_cyan);
}

.tip-btns .custom-ipt {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 6px;
  border-radius: 0.5rem;
  text-align: end;
  background: var(--Very_light_grayish_cyan);
  color: var(--Very_dark_cyan);
  transition: 0.2s;
}

.box2 {
  background: var(--Very_dark_cyan);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.top {
  margin-top: 1.5rem;
}

.tip-amount,
.total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  font-size: 1rem;
  font-weight: 700;
  color: var(--White);
}

.tip-amount p span,
.total p span {
  font-size: 0.8rem;
  color: var(--Grayish_cyan);
}

.amount {
  font-size: clamp(2rem, 2.5vw, 3rem);
  font-weight: 800;
  margin-left: 2rem;
  color: var(--Strong_cyan);
}

.reset {
  background: var(--Dark_cyan);
  color: var(--Very_dark_cyan);
  width: 100%;
  padding: 0.6rem 0;
  border: none;
  border-radius: 0.4rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
  transition: 0.2s;
}

.reset:hover {
  background: var(--Strong_cyan);
}
.attribution {
  font-size: 14px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 768px) {
  body {
    justify-content: space-evenly;
  }
  .container {
    flex-direction: column;
    margin: 3rem 0;
    padding: 1.35rem;
    max-width: 24rem;
  }

  .box1 {
    min-width: 100%;
    padding: 0rem;
    margin-bottom: 2rem;
  }
  .box2 {
    min-width: 100%;
    padding: 1.4rem;
  }
  .top {
    margin-top: 0;
  }

  .tip-amount {
    margin-bottom: 1rem;
  }
}
